.detail-post{
    .box-comment{
        padding: 0px 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        h4{
            color: $primary;
        }
        i{
            color: $warning;
        }
    }
}